/*  
Styling
*/
/* GLOBAL styles */
* { /* This is a wildcard selector that will apply the below styling to all elements*/
    box-sizing: border-box;  /* Sets the box sizing to be aligned to the box border*/
    padding: 0;  /* Set the padding to zero */
    margin: 0; /* Set the margins to zero */
}

body {
    background: beige;
}
.header {display: inline-flex;flex-direction: row;padding: 1%;width: 100%;justify-content: space-between;background: #d87093;color: white;    flex-wrap: nowrap;}

.header .header-logo {

}

.header .header-logo .logo-title {

}

nav.nav-bar {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}
nav.nav-bar ul.nav-list {
    display: flex;justify-content: flex-end;
}

nav.nav-bar ul.nav-list li.list-item {

}

nav.nav-bar ul.nav-list li.list-item a.nav-list-item-link{

}
.work-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
article.work-list-item {
    display: flex;
    flex-direction: column;
    flex: 1 0 300px;
    margin: 10px;
    flex-wrap: wrap;
    width: 100%!important;
}

.work-list-item-inner:hover {
    background-position: 0 100%;
    filter: grayscale(0);
}

.work-list-item-inner {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 300px;
    height: 100%;
    background-position: 0 0%;
    transition: filter 280ms linear 0.12s, background-position 5.5s ease-in-out 0.22s;
    filter: grayscale(1);
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    flex-wrap: wrap;
}

.job12 .work-list-item-inner {
    background-image: url("https://raw.githubusercontent.com/dexit/uni-code-bootcamp-week-1-challenge/main/page_screenshot.png");
    
}
.job1 .work-list-item-inner {
    background-image: url("https://dexit.github.io/Portfolio/websites/www.inspirational-homes.co.uk_.png");
    
}
.job2 .work-list-item-inner {
    background-image: url("https://dexit.github.io/Portfolio/websites/www.nese-hr.com_.png");
    
}
.job3 .work-list-item-inner {
    background-image: url("https://dexit.github.io/Portfolio/websites/www.stonewallsecurity.co.uk_.png");
    
}
.job4 .work-list-item-inner {
    background-image: url("https://dexit.github.io/Portfolio/websites/www.warwickshiredecoratingcontracts.co.uk_.png");
    
}
/* background */
.job5 .work-list-item-inner {
    background-image: url("https://raw.githubusercontent.com/dexit/uni-code-bootcamp-week-1-challenge/main/page_screenshot.png");
    
}


/* Taken from my Inspector Style sheet needs refactoring */

section.work {
    display: inline-flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1%;
}

.container-fluid {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

span.accented {
    font-weight: 900;
    font-family: 'Open Sans';
}

li.nav-list-item {
    padding: 16px;
    display: flex;
    flex-direction: column;
    background: #d97093;
}

main.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    align-items: flex-start;
    padding: 26px;
}

section.about-me {
    display: inline-flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.side.work {
    display: flex;
    flex-direction: column;
    flex: 1 1 10%;
    align-items: flex-end;
    padding-right: 2%;
    font-size: 200%;
    font-family: 'Lato';
    font-weight: 900;
    text-transform: uppercase;
    border-right: 5px solid #d97093;
    margin-right: 1%;
}

.work-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    flex: 1 1 80%;
    align-content: stretch;
    margin-bottom: 3%;
}


a.nav-list-item-link {
    color: white;
    font-size: 150%;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Lato';
    font-weight: 900;
}

.about-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    flex: 1 1 80%;
    align-content: stretch;
    padding: 0px 0px 0px 0px;
    margin-bottom: 3%;
}

.side.about {
    display: flex;
    flex-direction: column;
    flex: 1 1 10%;
    align-items: flex-end;
    padding-right: 2%;
    font-size: 200%;
    font-family: 'Lato';
    font-weight: 900;
    text-transform: uppercase;
    border-right: 5px solid #8bc34a;
    margin-right: 1%;
    margin-bottom: 1%;
}

.work-title {
    color: #d97093;
}

.contact-title {
    color: #673cb5;
}

h1.logo-title:after {
    content: ' aka Rihards Mantejs';
    font-size: 20px;
    transform: translate(16px, 13px);
    position: absolute;
    font-weight: 300;
    text-transform: capitalize;
    font-family: 'Lato';
}

section.contact {
    display: inline-flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.side.contact {
    display: flex;
    flex-direction: column;
    flex: 1 1 10%;
    align-items: flex-end;
    padding-right: 2%;
    font-size: 200%;
    font-family: 'Lato';
    font-weight: 900;
    text-transform: uppercase;
    border-right: 5px solid #673ab7;
    margin-right: 1%;
    margin-bottom: 1%;
}

.work-list-item-title {
    background: #d97093;
    color: white;
    padding: 10px;
    bottom: 0;
    position: relative;
    font-family: 'Lato';
    margin-bottom: 0!important;
    box-shadow: 6px 6px 0px 0px black;
    transition: bottom 0.2s ease-in-out 0.15s,top 0.15s ease-in-out 0.05s;
}

.work-list-item:hover .work-list-item-title {
    margin-bottom: unset;
    margin-left: unset;
    position: relative;
    bottom: 50%;
}

.about-title {
    color: #8cc350;
}

article.work-list-item.job1 {
    flex: 2 2 100%;
}

header.header {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: space-between;
    padding: 1%;
    background: #d87093;
    color: white;
    align-items: center;
    align-content: center;
}

ul.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.work-list-item:hover {
    cursor: pointer!important;
}
.work-list a {
    text-decoration: none!important;
}

@media (max-width: 768px) {
    html {

    }
    nav.nav-bar ul.nav-list {
        display: flex;
        justify-content: space-between;
    }
    nav.nav-bar ul.nav-list {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: nowrap;
        font-size: 14px;
    }
    nav.nav-bar a.nav-list-item-link {
        color: white;
        font-size: inherit;
        text-decoration: none;
        text-transform: uppercase;
        font-family: 'Lato';
        font-weight: 900;
    }
    nav.nav-bar li.nav-list-item {
        padding: 6px;
        display: flex;
        flex-direction: column;
        background: #d97093;
    }
    main.container {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        align-content: flex-start;
        padding: 26px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
    section.about-me,section.work,section.contact {
        display: inline-flex;
        width: 100%;
        flex-direction: column;
        justify-content: space-between;
    }
    .side {
        align-items: flex-start!important;
    }

}